
.dark {
    background: dimgrey;
}

.dark-text {
    color: #dddddd;
}

.red {
    background: rgba(179,5,7,0.67);
}

.red-text {
    color: #282c34;
}

.soft {
    background: #b9b597;
}

.soft-text {
    color: darkslateblue;
}